
/*********************/
/* fonts */
/*********************/
@font-face {
	font-family: "suisseintl-black";
	src: url("../fonts/suisseintl-black.woff2");
}

@font-face {
	font-family: "suisseintl-bold";
	src: url("../fonts/suisseintl-bold.woff2");
}

@font-face {
	font-family: "suisseintl-regular";
	src: url("../fonts/suisseintl-regular.woff2");
}




/*********************/
/* section 1 */
/*********************/


main > section:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 50em) {
    main > section:nth-of-type(1) article:nth-of-type(1)
     {
        grid-row-start: 1;
        display: block; 
        margin-bottom: 1rem; 
    }
}

@media (max-width: 50em){
    main > section:nth-of-type(1) article:nth-of-type(2){
        grid-row-start: 2;
    }
}

@media (max-width: 50em) {
    main > section:nth-of-type(1)
     {
      grid-template-columns: 1fr max-content; 
    }
}






/*********************/
/* artikel 1 */
/*********************/

main > section:nth-of-type(1) article:nth-of-type(1){
    display: grid;
    grid-template-rows: 1fr max-content;  
    margin: 0em;
    line-height: 1.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
}

main > section:nth-of-type(1) article:nth-of-type(1) h2{
    grid-row-start:1;
    grid-column-start:1;
    z-index: 1;
    row-gap: 2rem;
    color: white;
    font-family: "suisseintl-bold";
    margin-left: 1em;
    margin-top: 1rem;
    line-height: 1em;
}

main > section:nth-of-type(1) article:nth-of-type(1) a{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
    grid-column-start:1;
    z-index: 1;
    border: 1em;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 1rem ;
    font-weight: 600;
    font-family: "suisseintl-bold";
    padding: .75rem .75rem .75rem;
    max-width: 7rem;
    margin-left: 1em;
    margin-bottom: 1rem;
}


main > section:nth-of-type(1) article:nth-of-type(1) img{
    display: block;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:1;
    width: 100%;
    height: 100%;
}




/*********************/
/* artikel 2*/
/*********************/

main > section:nth-of-type(1) article:nth-of-type(2){
        display: grid;
        grid-template-rows: 4em 1fr 3.3em max-content;  
        margin: 0em;
        line-height: 1.1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
}

main > section:nth-of-type(1) article:nth-of-type(2) h2{
    grid-row-start:1;
    grid-column-start:1;
    z-index: 1;
    row-gap: 2rem;
    color: black;
    font-family: "suisseintl-bold";
    margin-top: 1rem;
    line-height: 1em;
    margin-left: 1rem;
    max-width: 30%;

}

main > section:nth-of-type(1) article:nth-of-type(2) p{
    grid-row-start:2;
    grid-column-start:1;
    z-index: 1;
    row-gap: 2rem;
    color: black;
    font-family: "suisseintl-regular";
    margin-left: 1em;
    line-height: 1em;
    max-width: 30%;
}

main > section:nth-of-type(1) article:nth-of-type(2) a{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
    grid-column-start:1;
    z-index: 1;
    border: 1em;
    text-decoration: none;
    color: white;
    background-color: #c2002f;
    font-size: 1rem ;
    font-weight: 600;
    font-family: "suisseintl-bold";
    padding: .75rem .75rem .75rem;
    max-height: 2rem;
    max-width: 7rem;
    margin-left: 1em;
    margin-bottom: 1rem;
}

main > section:nth-of-type(1) article:nth-of-type(2) img{
    display: block;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start:1;
    width: 100%;
    height: 100%;
}

/*********************/
/* Section 2 */
/*********************/

main > section:nth-of-type(2) {
    background-color: #181314;
    margin-top: 4rem;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    
}

main > section:nth-of-type(2) h2 {
    color: white;
    display: inline-block; /* chatGBT 1 */
    margin-right: .5rem;
    font-family: "suisseintl-bold";
    margin-left: 1rem;
    margin-top: 0;
}

main > section:nth-of-type(2) a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: "suisseintl-regular";
}

main > section:nth-of-type(2) ul {
    display: flex;              
    overflow-x: auto;             
    scroll-behavior: smooth;      
    scrollbar-width: thin;
    scrollbar-gutter: 2em;        
    scrollbar-color: #c2002f white;
    margin-right: 1rem;
    margin-left: 0;
    margin-top: 0;
    padding-left: 1em;
    gap: 1rem;                    
}

main > section:nth-of-type(2) li {
    color: white;
    list-style: none;
    font-family: "suisseintl-bold";
    flex-shrink: 0;              
    width: 15rem;                
    position: relative; 
}

main > section:nth-of-type(2) a {
    text-decoration: none;
}

main > section:nth-of-type(2) img {
    width: 100%;                 
    border-style: none;
    height: auto;                
}

main > section:nth-of-type(2) .play-icon{
    position: absolute; 
    top: .6rem; 
    left: .6rem;
    z-index: 1;
    height: 2rem;
    width: 2rem;
    border: .125rem solid #ffffff;
    border-radius: 100%;
    background-color: #c2002f;
}

main > section:nth-of-type(2) time {
    position: absolute; 
    top: 3rem; 
    left: 1.08rem;
    z-index: 1;
    font-size: .6rem;
    color: white;
    font-weight: 300;
    font-family: "suisseintl-regular";

}

main > section:nth-of-type(2) h3 {
    max-width: 30ch;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem; 
    margin-bottom: 0;         
}

/*********************/
/* articel 3 */
/*********************/
main > article:nth-of-type(1){
    display: flex;
    flex-direction: column;
    margin: 0em;
    line-height: 1.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
    position: relative;
    margin-top: 4rem;
}

main > article:nth-of-type(1) h2{
    font-family: "suisseintl-bold";
}

main > article:nth-of-type(1) a{
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 600;
    font-family: "suisseintl-bold";
    font-size: 1.75rem;
    line-height: 1;
}

main > article:nth-of-type(1) p{
    font-family: "suisseintl-regular";
    overflow: hidden;
    line-height: 1.53;
    font-size: 1.125rem;
}

main > article:nth-of-type(1) ul {
    display: flex;              
    flex-wrap: wrap;            
    align-items: center;
    list-style: none; 
    padding-left: 0;
    margin: 0;
    gap: 0.5rem; 
    padding-bottom: .625rem;
    border-bottom: .0625rem solid #c2002f;               
}

main > article:nth-of-type(1) li {
    border: solid;
    background-color: #413e3e;
    color: white;
    text-transform: uppercase;
    font-family: "suisseintl-regular";
    font-weight: 300;
    font-size: .625rem;
    line-height: 1.2;
    margin-right: .2rem;        
    padding: .4375rem .3125rem;
}

main > article:nth-of-type(1) button {
    display: flex;             
    justify-content: center;    
    align-items: end;        
    border: none;              
    background-color: white;    
    cursor: pointer;            
    padding: 0.5rem;           
    height: auto;        
}

main > article:nth-of-type(1) .play-icon{
    position: absolute;
    top: 1rem;
    left: 2.5rem;
    z-index: 1;
    height: 2rem;
    width: 2rem;
    border: .125rem solid #ffffff;
    border-radius: 100%;
    background-color: #c2002f;
}
main > article:nth-of-type(1) img{
    width: 100%;
    height: auto;
    order: -1;
}

/*********************/
/* section 3 */
/*********************/

main > section:nth-of-type(3) {
   margin-top: 4rem;
   padding: 0 1.5rem;
   padding-bottom: 1.5rem;
   padding-top: 1.5rem;
}

main > section:nth-of-type(3) h2 {



}

main > section:nth-of-type(3) ul{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;


}

main > section:nth-of-type(3) img {
    width: 100%;                 
    height: auto;                
}

