
/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root{
	color-scheme: light dark;
}



/*********************/
/* fonts */
/*********************/
@font-face {
	font-family: "suisseintl-black";
	src: url(fonts/suisseintl-black);
}

@font-face {
	font-family: "suisseintl-bold";
	src: url(fonts/suisseintl-bold);
}

@font-face {
	font-family: "suisseintl-regular";
	src: url(fonts/suisseintl-regular);
}

body{
    margin:0;
}






/*********************/
/* Header */
/*********************/
header {
    background-color: #c2002f;
    background-image: url(../images/ajax-achtergrond-image-header.png);
    height: 4.625rem;
    padding: 0 1.5rem;
    background-size: 305vw auto;
    background-position: 50% top;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: space-between;
}

header img {
    height: 1.5rem;
    border-style: none;
    background-repeat: no-repeat;
    z-index: 3;
    width: auto;
    align-items: center;
}

/*********************/
/* nav */
/*********************/
nav {
    display: flex;
    list-style: none;
}

nav button {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: white;
    border-radius: 50%;
    border: none;
    height: 2.2rem;
    width: 2.2rem;
    z-index: 3;
    text-decoration: none;
    margin-left: 0.75rem; 
}

nav ul {
    position: fixed; 
    top: -100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c2002f; 
    background-image: url(../images/ajax-achtergrond-image-header.png);
    background-size: 305vw auto;
    background-position: 50% top;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 5rem 1.5rem;
	margin: 0;
	gap: 1rem;
    transition: 0.5s ease; 
    transform: translateY(-100%);

}

nav ul li {
    list-style: none;
    width: 100%; 
    text-align: left; 
}

nav ul a {
    text-decoration: none;
    color: white; 
    font-family: "suisseintl-bold", sans-serif; 
    font-size: 1.5rem; 
    display: block;
    width: 100%;
}


nav ul li a {
    display: block;
 
}


nav.toonMenu ul {
    top: 0; 
    transform: translateY(0);
}

nav.toonMenu button:nth-of-type(2) img{
	content:url("../images/kruisje-header.svg")
}

@media (min-width: 38em) {
    nav ul {
        position: static;
        transform: none;
        background: none;
        top: unset;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
    }

    nav ul a {
        color: white;
        font-size: 1rem; 
    }

    nav button {
        display: none; 
    }
}

nav.toonZoek button:nth-of-type(1) img{
	content:url("../images/kruisje-header.svg")
}


nav .zoekbalk {
    position: fixed;             
    top: -100%;                  
    left: 0;
    width: 100%;  
	height: 100%;                
    display: none;                
    flex-direction: column; 
	margin-top: 4.6em;       
    gap: 1rem;              
    z-index: 1;                
    padding: 1rem;
	background-color: white;
	
}

nav.toonZoek .zoekbalk {
    display: flex; 
	top: 0;   
	padding: 0;          
}

nav .zoekbalk input {
	border: none;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.33;
    outline: none;
    width: 100vw;
    padding: 1rem 1.875rem 1rem 1.5rem;
    background: #eee
}

nav .zoekbalk button {
    position: absolute;
    right: 1.5rem;
    top: .75rem;
    padding: .25rem;
}



/****************************************************************/
/* Styling voor de header als de browser minimaal 54em breed is */
/****************************************************************/
@media (min-width: 54em) {
    header > a:last-of-type,
    nav a {
        flex-direction: row;
    }
}


/**********/
/* footer */
/**********/

footer{
	grid-column-gap:.75rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	line-height: 1.1rem;
}

footer h3{
	font-family: "suisseintl-bold";
}



footer > section:nth-of-type(1) h2{
	clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
}

footer ul{
	padding-left: 0rem;
}

footer li {
	list-style: none;
}

footer a {
	text-decoration: none;
}
footer img{
	width: max-content;
}





a{
	cursor: pointer;
}


h1 {
    
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	  }


