
/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root{
    color-scheme: light dark;
	--margin-small: 0.75rem;
    --margin-medium: 1.5rem;
    --margin-large: 4rem;

    --color-wit: white;
    --color-rood: #c2002f;
    --color-text-dark: black;
    --color-text-light: white;
    --color-background-light: #eee;
    --color-transparant:rgba(255, 0, 0, 0);

    --font-family-bold: "suisseintl-bold", sans-serif;
    --font-family-regular: "suisseintl-regular", sans-serif;
    --font-size-klein: 1rem;
    --font-size-normaal: 1.125rem;
    --font-size-groot: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-wit: #121212; 
        --color-text-dark: #eee; 
        --color-text-light: white;
        --color-background-light: #181818;
        }
}

@media (prefers-contrast: more) {
    :root {
        --color-wit: #fff; 
        --color-rood: #ff0000; 
        --color-text-dark: #000; 
        --color-text-light: #fff; 
        --color-background-light: #000; 
        --color-transparant: rgba(255, 255, 255, 0.5); 
    }
}

/*********************/
/* fonts */
/*********************/
@font-face {
	font-family: "suisseintl-black";
	src: url("../fonts/suisseintl-black.woff2");
}

@font-face {
	font-family: "suisseintl-bold";
	src: url("../fonts/suisseintl-bold.woff2");
}

@font-face {
	font-family: "suisseintl-regular";
	src: url("../fonts/suisseintl-regular.woff2");
}


/*********************/
/* body */
/*********************/

body {
    margin: 0;
}

/* shirt logo */

body > section:nth-of-type(1){
    display: none;
}


@media (min-width: 50em){
body > section:nth-of-type(1){
    top: 2.5rem;
    position: relative;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 5rem;
}

body > section:nth-of-type(1) img{
    width: 2.625rem;
    height: 2.625rem;
    margin-right:2rem;
    position: fixed;
    z-index: 4;
}
}

/* 3 crosses logo */

body > section:nth-of-type(2){
    display: none;
}


@media (min-width: 50em){
body > section:nth-of-type(2){
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    height: auto;
    width: 100%;
    padding-bottom:1.5rem; 
    z-index: 9;
}

body > section:nth-of-type(2) img{
    width: 2.625rem;
    height: .75rem;
    margin-right:2rem;
   
}
}

/*********************/
/* Header */
/*********************/
header {
    background-color: var(--color-rood);
    background-image: url(../images/ajax-achtergrond-image-header.png);
    height: 4.625rem;
    padding: 0 var(--margin-medium);
    background-size: 305vw auto;
    background-position: 50% top;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: space-between;
}

header img {
    height: var(--font-size-groot);
    border-style: none;
    background-repeat: no-repeat;
    z-index: 3;
    width: auto;
    align-items: center;
}

/*********************/
/* nav */
/*********************/
nav {
    display: flex;
    list-style: none;
}

nav button:nth-last-of-type(2),
nav button:nth-last-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--color-wit);
    border-radius: 50%;
    border: none;
    height: 2.2rem;
    width: 2.2rem;
    z-index: 3;
    text-decoration: none;
    margin-left: var(--margin-small);
}

/* deel knop header */

nav button:nth-last-of-type(1){
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--color-transparant);
    margin-left: var(--margin-small);
    text-decoration: none;
    border: none;
    border-left: solid var(--color-wit);
    padding-left: 1.5rem;
    color: white;
    margin-left: var(--margin-small);
    height: 2.2rem;
    width: 2.2rem;
}

nav button:nth-last-of-type(1) img{
    filter: invert(1);
}



nav ul {
    position: fixed; 
    top: -100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-rood);
    background-image: url(../images/ajax-achtergrond-image-header.png);
    background-size: 305vw auto;
    background-position: 50% top;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 5rem var(--margin-medium);
    margin: 0;
    gap: var(--margin-small);
    transition: 0.5s ease; 
    transform: translateY(-100%);
}

nav ul li {
    list-style: none;
    width: 100%; 
    text-align: left; 
}

nav ul a {
    text-decoration: none;
    color: var(--color-text-light);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-groot);
    display: block;
    width: 100%;
}

nav ul li a {
    display: block;
}

nav.toonMenu ul {
    top: 0; 
    transform: translateY(0);
}

nav.toonMenu button:nth-of-type(2) img {
    content: url("../images/kruisje-header.svg");
}


@media (min-width: 38em) {
    header{
        height: 7.5rem;
        background-color: #c2002f;
        background-image: url(../images/ajax-achtergrond-image-header.png);
        background-repeat: no-repeat;
        background-size: 100vw auto;
        background-position: 50% -7vw;
    }
    nav ul {
        position: static;
        transform: none;
        background: none;
        top: unset;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;

    }

    nav ul li:nth-of-type(4),
    nav ul li:nth-of-type(5),
    nav ul li:nth-of-type(6){
        padding: .375rem .75rem;
        border: .0625rem solid #ffffff;
        border-radius: 2rem;
    }

    nav ul li {
        border-bottom: solid transparent; 
        transition:0.3s ease;
    }

    nav ul li:nth-of-type(1):hover,
    nav ul li:nth-of-type(2):hover,
    nav ul li:nth-of-type(3):hover{
        border-bottom-color: var(--color-wit);
    }

    nav ul li:nth-of-type(4):hover,
    nav ul li:nth-of-type(5):hover,
    nav ul li:nth-of-type(6):hover{
        padding: .375rem .75rem;
        border: .0625rem solid #ffffff;
        background-color: var(--color-wit);
        border-radius: 2rem;
        color: var(--color-text-dark);
    }

    nav ul li:nth-of-type(4) a:hover,
    nav ul li:nth-of-type(5) a:hover,
    nav ul li:nth-of-type(6) a:hover{
      color: var(--color-text-dark);
    }



    nav ul a {
        color: var(--color-text-light);
        font-size: var(--font-size-klein);
    }

    nav button:nth-of-type(2) {
        display: none; 
    }

    nav button:nth-of-type(1) {
        order: 1; 
        background-color: var(--color-transparant); 
        border-left: solid var(--color-wit);
        border-radius: 0;
        padding-left: 1rem;
        margin-left: 1rem;
    }

    nav button:nth-of-type(1) img {
        filter: invert(1);
    }
    nav button:nth-of-type(3) {
        order: 2; 
        background-color: var(--color-transparant); 
        border-left: solid var(--color-wit);
        border-radius: 0;
        padding-left: 1rem;
        margin-left: .6rem;
    }

    nav button:nth-of-type(3) img {
        filter: invert(1);
    }
}

nav.toonZoek button:nth-of-type(1) img {
    content: url("../images/kruisje-header.svg");
}

nav form {
    position: fixed;             
    top: -100%;                  
    left: 0;
    width: 100%;  
    height: 100%;                
    display: none;                
    flex-direction: column; 
    margin-top: 4.6em;       
    gap: var(--margin-small);              
    z-index: 2;                
    padding: var(--margin-small);
    background-color: var(--color-wit);
}

nav.toonZoek form {
    display: flex; 
    top: 0;   
    padding: 0;          
}

nav form input {
    border: none;
    font-size: var(--font-size-normaal);
    font-weight: 300;
    line-height: 1.33;
    outline: none;
    width: 100vw;
    padding: var(--margin-small) 1.875rem var(--margin-small) var(--margin-medium);
    background: var(--color-background-light);
}

nav form button {
    position: absolute;
    right: var(--margin-medium);
    top: var(--margin-small);
    padding: 0.25rem;
}

@media (min-width: 54em) {
    header > a:last-of-type,
    nav a {
        flex-direction: row;
    }
}

/**********/
/* footer */
/**********/

footer {
    grid-column-gap: var(--margin-small);
    padding-left: var(--margin-medium);
    padding-right: var(--margin-medium);
    line-height: 1.1rem;
    padding-top: var(--margin-large);
}

footer h3 {
    font-family: var(--font-family-bold);
    margin-bottom: 0;
    font-size: var(--font-size-klein);
    font-weight: 600;
    line-height: 1.25;
    padding-top: calc(var(--margin-large) - 0.25rem);
}

footer > section:nth-of-type(1) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

footer ul {
    padding-left: 0;
    margin-top: 0;
}

footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: var(--color-text-dark);
    font-family: var(--font-family-regular);
    font-size: var(--font-size-klein);
    font-weight: 300;
    line-height: 1.25;
}

footer img {
    width: 100%;
}

/* Responsive styles */
@media (min-width: 32em) {
    footer > section:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: var(--margin-small);
    }

    img {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    h3:nth-of-type(1),
    h3:nth-of-type(2) {
        grid-row-start: 2;
    }

    h3:nth-of-type(3),
    h3:nth-of-type(4) {
        grid-row-start: 4;
    }
}

footer > section:nth-of-type(3) h2,
footer > section:nth-of-type(2) h2 {
    font-size: var(--font-size-klein);
    font-weight: 600;
    line-height: 1.25;
    font-family: var(--font-family-bold);
    margin-bottom: 0.65rem;
}

footer > section:nth-of-type(2) p {
    font-size: var(--font-size-klein);
    font-family: var(--font-family-regular);
    font-weight: 300;
    line-height: 1.25;
    margin-top: 0;
}

footer > section:nth-of-type(2) a {
    min-height: 2rem;
    padding: 0 var(--margin-small);
    font-size: var(--font-size-klein);
    font-family: var(--font-family-bold);
    font-weight: 600;
    line-height: 1.43;
    border: none;
    background: var(--color-rood);
    color: var(--color-wit);
    height: 0.0625rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

footer > section:nth-of-type(3) ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer > section:nth-of-type(3) li {
    display: list-item;
    margin-right: var(--margin-medium);
}

/* Link stijl */



section a:hover {
    color: var(--color-rood);
}


/* tab stijl*/

main:focus-visible{
	border: .2em solid var(--color-rood);
    outline: none; 
}

/* dark mode*/

@media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      color: white;
    }
    a {
        color: var(--color-text-light);
    }
    button img {
    filter: invert(1); 

    }
    footer img {
        filter: invert(1); 
    }

}






.visually_hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


